.background{
    --background: url("/assets/img/bg (1).png") 0 0/100% 100% no-repeat;
}

ion-header{
    position: initial;
}

.my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
 }