<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="background ion-text-center ion-padding">
  
  <img src="/assets/img/logo.png" height="150" width="150" alt="" class="logo"/>

  <div [ngStyle]="{'height': '20%'}">

  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item class="input-round">
      <img src="/assets/icon/email.png" alt=""/>
      <ion-input class="ion-padding-start" placeholder="Email" type="mail" formControlName="email" ></ion-input>
    </ion-item>
  
    <ion-item class="input-round ion-margin-top">
      <img src="/assets/icon/contraseña.png" alt=""/>
      <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
    </ion-item>
  
    <ion-grid [ngStyle]="{'margin-top': '0px'}">
      <ion-row>
        <ion-col size="5">
          <div class="ion-float-left">
            <input type="checkbox" id="remember" formControlName="remember"><label for="remember"> Recuerdame</label>
          </div>
        </ion-col>
        <ion-col size="7" [routerLink]="['/restore-pass']">
          <div class="ion-float-right">
            ¿Olvidaste tu contraseña?
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div class="bottom-element">
      <div class="box-gradient">
        <ion-button expand="block" fill="clear" class="btn-home" type="submit" [disabled]="!loginForm.valid">Ingresar</ion-button>
      </div>
      <span>¿Aún no tienes cuenta?<a class="link" [routerLink]="['/tabs/tab1']"> Registrate aquí</a></span>
    </div>
  </form>
</ion-content>

