<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>
