.background{
  --background: url("/assets/img/bg.png") 0 0/100% 100% no-repeat;
}

.box-gradient{
  margin: 0;
  height: 100%;
  border-left: 2px solid #a9da1f;
  border-right: 2px solid #01acca;
  background-size: 100% 2px;
}

.card{
  --background: #f2f2f2
}

.card-header{
  border-bottom: 1px solid #cecece;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
}

.segment-button-checked{
  // --background: ;
  background: linear-gradient(90deg, #02b9c1, #83da22) !important;
  color: white;
}
