<ion-header>
  <ion-segment [(ngModel)]="accion">
    <ion-grid>
      <ion-row>
        <div class="ion-float-left">
          <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>      
        </div>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-segment-button value="guia">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Guia turistica</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col size="6">
          <ion-segment-button value="taxi">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Taxi</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-segment>
</ion-header>

<ion-content class="background">

  <div *ngIf="accion == 'guia'">
    <ion-grid style="height: 100%" *ngIf="loader == true">
      <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
        <ion-spinner color="primary" class=""></ion-spinner>
        Cargando viajes...
      </ion-row>
    </ion-grid>

    <div *ngIf="loader == false">
      <div *ngFor='let trip of trips'>
        <ion-card class="card mt-3">
          <ion-card-header class="card-header">
            <div class="ion-float-left">
              {{trip.title}}
            </div>
            <div class="ion-float-right">
              500$
            </div>
          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            <p>{{trip.point}}{{trip.time}}</p>
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col size="7">
                    <ion-button fill="clear" class="btn-trip">Programar viaje</ion-button>
                  </ion-col>
                  <ion-col size="5">
                    <ion-button fill="clear" class="btn-trip">tomar viaje</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    
  </div>

  <div *ngIf="accion == 'taxi'">
    <ion-card class="card">
      <ion-card-header class="card-header-turist">
        <div class="ion-float-left">
          Alameda central
        </div>
        <div class="ion-float-right">
          Viaje turistico
        </div>
      </ion-card-header>
      <ion-card-content class="ion-margin-top">
        <p>Atracción turistica . Av Mecixo 5843 museo de arte en una hacienda histórica abierta hasta 6:00pm</p>
        <div>
          <ion-grid>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col size="5">
                <ion-button fill="clear" class="btn-trip">Tomar viaje</ion-button>
              </ion-col>
              <ion-col size="5">
                <ion-button fill="clear" class="btn-trip">Ver detalle</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
